
<!DOCTYPE HTML>
<html>
<head th:insert="common :: headerfiles">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav th:insert="common :: navbar"></nav>
	<div class="container-fluid">
		<div class="alert alert-info" role="alert">Send a JMS message</div>

		<form>
			<div class="form-row align-items-center">
				<div class="col-sm-3 my-1">
					<label class="sr-only" for="inlineFormInputName">Name</label> <input
						type="text" class="form-control" id="inlineFormInputName" name="name"
						placeholder="Insert Name">
				</div>
				<div class="col-auto my-1">
					<button type="submit" class="btn btn-primary">Say hello!</button>
				</div>
			</div>
		</form>

	</div>

	<div th:insert="common :: jsfiles"></div>
</body>
</html>